.game-body{
    position: absolute;
    /* /display: flex; */
    height: 800px;
    width: 800px;
    top: 10px;
    left: calc(50% - 400px);
    background-color: bisque;
}
.row{
    margin-left: 0px;
}

.btn-copy{
    position: relative;
    vertical-align: bottom;
    bottom: 10px;
    line-height: 0;
    height: 20px;
    width: 40px;
    font-size: 20px;
    z-index: 100;

}
.board-piece{
    position: relative;
    font-size: 100px;
    text-align: center;
    line-height: 400px;
    vertical-align: middle;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    z-index: 1;
}
/* .fa{
    position: relative;

    
    font-size: 30px;
} */
.ctl-panel{
    position: absolute;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    background-color: bisque;
    height: 50px;
    width: 200px;
    left: calc(50% - 100px);
    bottom: 10%;
    border: 2px solid black;
    border-radius: 25px;

}

.btn-small{
    height: 50px;
    width: 50px;   
}
.btn-large{
    height: 50px;
    width: 50px;
}
.btn-img{
    position: absolute;
}
.fa{
    position: absolute;
    font-size: 40px;
    bottom: 50%;
    top:0px;
}
.fa-undo{
    top: 5px;
    left:-20px;
}
.fa-lock{
    top: 5px;
    left: 5%;
}
.fa-copy{
    top: 3px;
    left: 75%;
}

/* .board-piece:hover{
 background-color: blue;
} */